table .table-operations i{
    margin-right: 16px;
    font-size: 20px;
}

table .table-operations i.mdi-delete{
    color: crimson;
}

table{
    overflow-x: scroll;
}

.btn-gradient-primary{
    background: #03a9f4;
}

.btn-lg, .btn-group-lg > .btn{
    padding-right: 24px;
    padding-left: 24px;
}

.simple-link{
    color: white;
    transition: 0.4s;
    padding-bottom: 4px;
}

.simple-link:hover{
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

.sidebar-offcanvas{
    position: fixed;
}

.main-panel {
    margin-left: 260px;
    background-color: #edf0f3;
}

.main-panel .content-wrapper, .footer, .table-striped tbody tr:nth-of-type(odd){
    background-color: #edf0f3;
}

